<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Table Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="packages/htmx.min.js"></script>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Select</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>John Doe</td>
        <td>30</td>
        <td>john@example.com</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Jane Smith</td>
        <td>25</td>
        <td>jane@example.com</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Michael Johnson</td>
        <td>35</td>
        <td>michael@example.com</td>
        <td><input type="checkbox"></td>
    </tr>
    </tbody>
</table>

<button>Submit</button>

</body>
</html>
